<template>
    <!--<div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Tasks Open</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Open</th>
                            <th>Close</th>
                            <th>Status</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr repeat.for="item of projectTask.tasks">
                                <td if.bind="item.status == 'open'">${item.name}</td>
                                <td if.bind="item.status == 'open'">${item.open}</td>
                                <td if.bind="item.status == 'open'">${item.close}</td>
                                <td if.bind="item.status == 'open'">${item.status}</td>
                                <td if.bind="item.status == 'open'">${item.type}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
           <div class="row">
            <div class="col-lg-6">
                <h3>Tasks Closed</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Open</th>
                            <th>Close</th>
                            <th>Status</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr repeat.for="item of projectTask.tasks">
                                <td if.bind="item.status == 'closed'">${item.name}</td>
                                <td if.bind="item.status == 'closed'">${item.open}</td>
                                <td if.bind="item.status == 'closed'">${item.close}</td>
                                <td if.bind="item.status == 'closed'">${item.status}</td>
                                <td if.bind="item.status == 'closed'">${item.type}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
           
        </div>
    </div>-->
</template>