<template>
    <require from="./widget/box"></require>
    <require from="./widget/box-header" as="header"></require>
    <require from="./widget/cst-button"></require>
    <require from="./widget/box-body-progress"></require>

    <box>
        <!-- Box Header -->
        <div slot="box-header">
            <h3 class="box-title">${title}</h3>
        </div>
        <div if.bind="buttons" slot="box-header-toolbar">
            <cst-button buttons.bind="buttons" data.bind="item"></cst-button>
        </div>

        <!-- Box Body -->
        <div slot="box-body">
            <box-body-progress 
                complete-work.bind="completeWork" 
                progress-work.bind="progressWork" 
                title.bind="title"
                footer-button.bind="footerButton"></box-body-progress>
        </div>

    </box>

</template>